@font-face {
    font-family: "Montserrat-Light";
    src: url(fonts/Montserrat-Light.otf) format("truetype");
}
body {
  margin: 0;
}
.mb {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.ml {
  font-family: 'Montserrat-Light', sans-serif;
  font-weight: 400;
}
.charcoal {
  color: #4A4A4A;
}
.green-btn {
  background-color: #8FD295;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 2px;
  border: 0;
  border-radius: 4px;
  color: #fff;
  padding: 11px 15px;
  text-transform: uppercase;
  cursor: pointer;
}
ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px;
}
h5 {
  color: #3C3D41;
}
header {
  background-color: #6E4961;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo {
  margin-left: 10px;
}
.header-controls {
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.primary {
  margin: 12px;
}
.primary img {
  margin-left: 7px;
  padding-bottom: 1px;
}
.cart {
  background-color: #FFC306;
  margin: 12px;
  position: relative;
  width: 110px;
  height: 37px;
}
.cart img {
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
}
.cart span {
  display: inline-block;
  vertical-align: middle;
}

nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px auto;
}
.nav a {
  text-transform: uppercase;
  color: #3C3D41;
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
  font-size: 13px;
  letter-spacing: 1px;
}
.search {
  position: absolute;
  right: 10px;
}
.hero{
  height: 360px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero:before {
  content:" ";
  background: url('images/produce.jpg') center center no-repeat;
  background-size: cover;
  opacity: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right:0;
  z-index: -1;
}
.hero:after {
  content:" ";
  background: url('images/mask.svg') center center no-repeat;
  background-size: cover;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right:0;
  z-index: -1;
}
.hero-container{
  text-align: center;
}
.hero-container  h1 {
  font-family: 'Cherry Swash', cursive;
  font-weight: 400;
  font-size: 52px;
  letter-spacing: .5px;
  color: #fff;
  width: 80%;
  margin: auto auto 10px;
  text-align: center;
}
.hero-container input {
  height: 35px;
  border-radius: 4px;
  border: 0;
  padding-left: 10px;
  width: 245px;
  padding-top: 0;
}

.benefits {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 25px 0;
}
.benefits-container {
  width: 31%;
  overflow: hidden;
}
.benefits img, .benefits-text {
  float: left;
}
.benefits img{
  width: 44px;
}
.benefits-container:nth-of-type(2) img{
  width: 34px;
}
.benefits .benefits-text {
  width: 74%;
  padding-left: 15px;
}
.benefits-text h5 {
  margin: 0;
}
.benefits-text span{
  color: #9B9B9B;
  font-size: 10px;
}
.trending-products {
  background-color: #EAEAEA;
  text-align: center;
  padding-top: 30px;
  overflow: hidden;
}
.trending-products h5 {
    margin-bottom: 5px;
}
.trending-products ul {
  margin: 0;
}
.trending-products-individual{
  background-color: #fff;
  width: 20%;
  /*margin: 15px;*/
  position: relative;
  border-radius: 4px;
  padding: 20px 0;
}
.trending-products-individual * {
  margin: 0 0 3px;
  cursor: pointer;
}
.trending-products-individual img {
  width: 80%;
}

.trending-products-individual h4 {
  color: #393D3F;
  font-size: 15px;
}
.trending-products-individual .body-text {
  font-size: 14px;
  font-family: 'Montserrat-Light', sans-serif;
  font-weight: 400;
  letter-spacing: -0.5px;
}
.trending-products-individual .small-text{
  color: #9B9B9B;
  font-size: 10px;
  font-family: 'Montserrat-Light', sans-serif;
}

.sale {
  background-color: rgba(0, 0, 0, 0.6);;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: absolute;
  top: 10px;
  right: 10px;
  box-shadow: -2px 3px 3px rgba(0,0,0,0.3);
  font-size: 10px;
  padding: 3px 4px;
  border-radius: 3px;
}

.trending-products .green-btn {
  margin-top: 15px;
}

.trending-products blockquote {
  font-family: 'Cherry Swash', cursive;
  font-size: 24px;
  width: 80%;
  margin: 50px auto 20px;
}
.citation {
  overflow: hidden;
  display: inline-block;
  margin-bottom: 50px;
}
.citation img, .citation div {
  display: inline-block;
  float: left;
  text-align: left;
}
.citation div {
  padding-left: 10px;
}
.citation h5 {
  margin: 0 0 2px;
  font-size: 13px;
}
.citation span {
  font-size: 10px;
  color: #9B9B9B;
}

.coupon{
  background-color: #FFC306;
  width: 616px;
  margin: auto;
  border-radius: 14px;
  border: 3px dashed #000;
  padding: 30px;
}
.coupon h1 {
  color: #fff;
  font-size: 36px;
  text-transform: none;
  margin: 10px 0;
}
.coupon .ml {
  padding: 0 10px;
}
.coupon .green-btn {
  background-color: #fff;
  color: #4A4A4A;
}

.recipes {
  background-color: #EAEAEA;
  padding: 50px 0;
  text-align: center;
}
.recipes h2 {
  text-transform: none;
  font-size: 30px;
  margin-bottom: 15px;
}
.recipes p {
  font-size: 14px;
}
.recipes-list {
  margin-bottom: 0px;
}
.recipes-individual {
  width: 30%;
  background-color: #FEFEFE;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-radius: 4px;
  overflow: hidden;
  /*background: linear-gradient(#EAEAEA , #FEFEFE);*/
}
.recipes-individual img {
  width: 100%;
  background-color: #EAEAEA;
}
.recipes-individual h4 {
  font-size: 15px;
  color: #393D3F;
  padding: 0 7.5%;
  height: 36px;
  text-transform: none;
}
.stars {
  /*background-color: #fff;*/
}
.stars img{
  width: 21px;
  background-color: #FEFEFE;
}
footer {
  padding: 25px 0;
}
.newsletter {
  text-align: center;
}
.newsletter * {
  display: inline-block;
  vertical-align: middle;
}
.newsletter .mb {
  text-transform: uppercase;
  color: #3C3D41;
  padding: 10px;
  font-size: 13px;
  letter-spacing: 1px;
}

.newsletter input {
  height: 32px;
  border-radius: 4px;
  border: 0;
  padding-left: 10px;
  width: 180px;
  padding-top: 0;
  background-color: #EAEAEA;
}

.newsletter button {
  height: 32px;
  width: 41px;
  background-color: #4A4A4A;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.social {
  text-align: center;
  padding-top: 25px;
}

.social img {
  padding: 0 15px;
  cursor: pointer;
}

@media (max-width: 767px) {
  header {
    height: auto;
  }
  .logo, .header-controls {
    margin: auto;
  }
  .hero-container h1{
    font-size: 26px;
    margin-bottom: 10px;
  }
  .hero-container input {
    margin-bottom: 10px;
  }
  nav {
    width: 100%;
    margin: 20px auto;
  }
  .search {position: relative;}
  .benefits-container {
    width: 90%;
    margin: 15px 0;
  }
  .trending-products-individual{
    width: 47%;
    margin-bottom: 15px;
  }
  .coupon {
    width: 300px;
    padding: 30px 0;
  }


  .recipes-individual {
    width: 90%;
    margin: 15px auto;
  }
}
